.footer {
  background: #fff;
  padding: 60px 0;
}

.footer__inner {
  display: grid;
  grid-template-columns: 258px 178px 228px 220px auto;
  grid-template-rows: auto;
  column-gap: 22px;
}

.footer__column {
  &:nth-child(5) {
    text-align: right;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__logo-link {}

.footer__logo-img {
  width: 200px;
  height: 30px;
}

.footer__column-text {
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--gray);
  margin-bottom: 10px;
  margin-right: 80px;
}

.footer__developer-info {
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.footer__column-title {
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
}

.footer__column-list {
  list-style: none;
}

.footer__column-item {
  margin-bottom: 10px;
}

.footer__column-link {
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--main-text);

  &:hover {
    text-decoration: underline;
  }
}

.footer__payments-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 32px);
  gap: 14px;
}

.footer__payments-item {}

.footer__payments-link {
  &:hover {
    .footer__payments-img {
      transform: scale(1.1);
    }
  }
}

.footer__payments-img {
  height: 32px;
  width: 32px;
  transform: scale(1);
  transition: transform .3s;
}

.footer__phone-num {
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--brown);
  margin-bottom: 16px;

  &:hover {
    text-decoration: underline;
  }
}

.footer__work-info {
  margin-bottom: 10px;
}

.footer__work-info-icon {
  fill: transparent;
  stroke: black;
  margin-right: 7px;
  transform: translateY(3px);
}

.footer__work-info-icon--map-marker {
  height: 14px;
  width: 11px;
}

.footer__work-info-icon--watch {
  width: 14px;
  height: 14px;
}

.footer__work-info-text {
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.footer__social-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 24px);
  gap: 18px;
  justify-content: flex-end;
  margin-top: 35px;
}

.footer__social-item {
  display: inline-block;
  margin-right: 18px;
}

.footer__social-link {
  display: block;
  height: 24px;
  width: 24px;
  transition: transform .3s;
  transform: scale(1);
  &:hover{
    transform: scale(1.1);
  }
}

.footer__social-img {}