.product-menu {}

.product-menu__block {
  margin-bottom: 20px;
}

.product-menu__title {
  padding: 10px 42px 10px 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: var(--brown);
  background: var(--yellow);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product-menu__title-icon {
  height: 22px;
  width: 22px;
  fill: transparent;
  stroke: var(--brown);
  transform: translateY(5px);
  margin-right: 8px;
}

.product-menu__list {
  list-style: none;
}

.product-menu__item {
  border: 1px solid #E6E6E6;
  border-top: none;

  &:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .product-menu__link {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  &.product-menu__drop {
    padding: 11px 44px 11px 16px;
    background: #fff;
    border: 1px solid #E6E6E6;
    border-top: none;
    transition: color .3s, background .3s;
    cursor: pointer;
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 3px);
      right: 23px;
      width: 8px;
      height: 1px;
      background: var(--gray);
      transform: translate(0, 50%) rotate(48deg);
    }

    &::before {
      top: calc(50% + 3px);
      transform: translate(0, 0) rotate(-48deg);
    }

    &:hover {
      background: var(--light-orange);
      color: var(--orange);
    }
  }

  .product-menu__link {
    padding: 11px 44px 11px 16px;
    background: #fff;
    color: var(--main-text);
    transition: color .3s, background .3s;

    &:hover {
      background: var(--light-orange);
      color: var(--orange);
    }
  }
}

.product-menu__drop {
  position: relative;
}

.product-menu__drop-box {
  position: absolute;
  width: 280px;
  top: 0;
  right: -280px;
}

.product-menu__drop-list {
  list-style: none;

}

.product-menu__drop-item {
  
  &:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .product-menu__link {
      border-top: 1px solid #E6E6E6;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}

.product-menu__drop-link {}

.product-menu__link {}