.main-menu {
  width: 100%;
}

._desctop-menu {}

.main-menu__main-blocks {}

.main-menu__block {
  list-style: none;
  margin-bottom: 20px;
}

.main-menu__block-name {
  padding: 13px 42px;
  background: var(--yellow);
  color: var(--brown);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main-menu__name-icon {
  position: absolute;
  height: 22px;
  width: 22px;
  fill: transparent;
  stroke: var(--brown);
  left: 12px;
  top: 50%;
  transform: translateY(calc(-50% - 2px));
}

.main-menu__list {
  &.main-menu__drop-item {
    width: 280px;
    top: -1px;
    right: -280px;
    box-shadow: 0px 2px 18px rgb(102 79 0 / 10%);

    .main-menu__list-item:first-child {
      border-top: 1px solid #E6E6E6;

    }
  }
}

.main-menu__list-item {
  list-style: none;
  cursor: pointer;
  border: 1px solid #E6E6E6;
  border-top: none;

  &:first-child {
    border-top: 1px solid #E6E6E6;

  }

  &:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .main-menu__name {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.main-menu__list-item-name {
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%, calc(-50% + 3px)) rotate(45deg);
    right: 25px;
    width: 1px;
    height: 8px;
    background: var(--gray);
  }

  &::before {
    transform: translate(-50%, calc(-50% - 3px)) rotate(-45deg);
  }
}

.main-menu__list-link {}

.main-menu__name {
  padding: 11px 50px 11px 16px;
  display: block;
  background: #fff;
  color: var(--main-text);
  transition: background .3s;

  &:hover {
    background: #ffd97f;
  }
}

@media screen and (max-width: 1200px) {
  .main-menu {
    display: none;
  }

  .main-menu__block-name {
    background: var(--main-bg-color);
    border-top: 1px solid #E6E6E6;
    cursor: pointer;
    color: var(--main-text);
    font-family: 'Circe Rounded';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 11px 50px;
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translate(-50%, calc(-50% + 3px)) rotate(45deg);
      right: 25px;
      width: 1px;
      height: 8px;
      background: var(--gray);
    }

    &::before {
      transform: translate(-50%, calc(-50% - 3px)) rotate(-45deg);
    }
  }

  .main-menu__block {
    margin-bottom: 0;

    &:last-child {
      .main-menu__block-name {
        border-bottom: 1px solid #E6E6E6;
      }
    }
  }

  .main-menu__name-icon {
    display: none;
  }

  .main-menu__name {
    font-family: 'Circe Rounded';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-text);
    background-color: var(--main-bg-color);
    padding: 11px 50px;
  }

  .main-menu__list-item {
    border-right: none;
    border-left: none;
  }

  .main-menu__list.main-menu__drop-item {
    right: 0;
  }
}