.restore-pass-popup {}

.restore-pass-popup-popup__table {}

.restore-pass-popup__cell {}

.restore-pass-popup__window {
  max-width: 410px;
}

.restore-pass-popup__header {
  margin-bottom: 20px;
}

.restore-pass-popup__title {}

.restore-pass-popup__close {}

.restore-pass-popup__content {}

.restore-pass-popup__text {
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 400;
  color: var(--gray);
  text-align: left;
  margin-bottom: 30px;
}

.restore-pass-popup__form {}

.restore-pass-popup__label {
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-text);
  display: block;
  text-align: left;
}

.restore-pass-popup__input {
  margin-top: 6px;
  width: 100%;
  margin-bottom: 10px;
}

.restore-pass-popup__submit {
  height: 48px;
  width: 100%;
  margin-bottom: 57px;
}

.restore-pass-popup__info {
  font-family: 'Circe Rounded';
  font-style: normal;
  color: var(--brown);
}

.restore-pass-popup__info-btn {
  display: inline-block;
  color: var(--orange);
  text-decoration: underline;
  border: none;
  background: transparent;
  transition: color .3s;
  &:hover{
    color: var(--dark-orange);
  }
}