@font-face{
	font-family: 'Avenir Next';
	font-display: swap;
	src: local("Avenir Next"), url("../fonts/Avenir Next-Medium.woff2") format("woff2"), url("../fonts/Avenir Next-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: 'Circe Rounded';
	font-display: swap;
	src: local("Circe Rounded"), url("../fonts/Circe Rounded-ExtraBold.woff2") format("woff2"), url("../fonts/Circe Rounded-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face{
	font-family: 'Circe Rounded';
	font-display: swap;
	src: local("Circe Rounded"), url("../fonts/Circe Rounded-Regular.woff2") format("woff2"), url("../fonts/Circe Rounded-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: 'Circe Rounded';
	font-display: swap;
	src: local("Circe Rounded"), url("../fonts/Circe Rounded-Light.woff2") format("woff2"), url("../fonts/Circe Rounded-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: 'Helvetica Now Display';
	font-display: swap;
	src: local("Helvetica Now Display"), url("../fonts/Helvetica Now Display-ExtraBold.woff2") format("woff2"), url("../fonts/Helvetica Now Display-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face{
	font-family: 'Circe Rounded';
	font-display: swap;
	src: local("Circe Rounded"), url("../fonts/Circe Rounded-Bold.woff2") format("woff2"), url("../fonts/Circe Rounded-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: 'Nunito';
	font-display: swap;
	src: local("Nunito"), url("../fonts/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: 'Roboto';
	font-display: swap;
	src: local("Roboto"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: 'Helvetica NeueCyr';
	font-display: swap;
	src: local("Helvetica NeueCyr"), url("../fonts/Helvetica NeueCyr-Bold.woff2") format("woff2"), url("../fonts/Helvetica NeueCyr-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: 'Roboto';
	font-display: swap;
	src: local("Roboto"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: 'Roboto';
	font-display: swap;
	src: local("Roboto"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
