body {
  background: var(--main-bg-color);
  color: var(--main-text);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

//custom select
.js-custom-select {
  position: relative;
}

.js-custom-select__button {}

.js-custom-select__btn-text {}

.js-custom-select__options {
  display: none;
  position: absolute;

  &._active {
    display: block;
  }
}

.js-custom-select__option {}

.js-custom-select__input {
  visibility: hidden;
  opacity: 0;
  appearance: none;
  height: 1px;
  width: 1px;
  font-size: 1px;
  line-height: 1px;
  position: absolute;
  z-index: -1;
}


//btns

.icon-btn {}

.icon-btn__icon {}