body {
  background: var(--main-bg-color);
  color: var(--main-text);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.large-container {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
}

//custom select
.js-custom-select {
  position: relative;
}

.js-custom-select__button {}

.js-custom-select__btn-text {}

.js-custom-select__options {
  display: none;
  position: absolute;

  &._active {
    display: block;
  }
}

.js-custom-select__option {}

.js-custom-select__input {
  visibility: hidden;
  opacity: 0;
  appearance: none;
  height: 1px;
  width: 1px;
  font-size: 1px;
  line-height: 1px;
  position: absolute;
  z-index: -1;
}


//btns

.main-btn {
  background: var(--orange);
  border-radius: 5px;
  display: block;
  font-family: 'Circe Rounded';
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  border: 1px solid var(--orange);
  transition: color .3s, background .3s, border .3s;

  &:hover {
    background: var(--dark-orange);
    border: 1px solid var(--dark-orange);
  }
}

.icon-btn {}

.icon-btn__icon {}

//prompt

.main-prompt {
  width: 245px;
  margin: 10px;
  padding: 8px 12px;
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  background: rgba(41, 41, 41, 0.97);
  border-radius: 4px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
  z-index: 2000;

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 6px;
    border-left-width: 6px;
    border-bottom: 6px solid rgba(41, 41, 41, 0.97);
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
  }
}


//custom num input

.num-input {
  height: 36px;
  width: 108px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 5px;
  overflow: hidden;
}

.num-input__area {
  height: 36px;
  width: 36px;
  border: none;
  background: #fff;
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: var(--main-text);
}

.num-input__btn-up,
.num-input__btn-down {
  height: 36px;
  width: 36px;
  background: #fff;
  border: none;
  border-right: 1px solid rgba(128, 128, 128, 0.2);
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--main-text);
    width: 12px;
    height: 1px;
  }

  &::before {
    display: none;
  }
}

.num-input__btn-up {
  border-left: 1px solid rgba(128, 128, 128, 0.2);

  &::before {
    display: block;
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

//drop

.drop {
  position: relative;

  &:hover {
    .drop__item {
      opacity: 1;
      visibility: visible;
    }
  }
}

.drop__item {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
  z-index: 2000;
}

//main-section

.main-section {}

.main-section__inner {
  display: grid;
  grid-template-columns: 280px auto;
  column-gap: 20px;
}

.main-section__block {}

//title

.title {
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: var(--brown);
}

.title-bold {
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: var(--brown);
}

.addit-title {
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--brown);
}

//tabs

.tabs {}

.tabs__btn {}

.tabs__items {
  position: relative;
}

.tabs__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s;

  &._active {
    position: relative;
    opacity: 1;
    visibility: visible;
  }
}

//slider
.slider-arrows {
  display: grid;
  grid-template-columns: 30px 10px 30px;
  &:hover {

    .slider-arrow-prev,
    .slider-arrow-next {
      border: 1px solid rgba(#4E2D2D, .5);
    }
  }
}

.slider-arrow-prev,
.slider-arrow-next {
  height: 30px;
  width: 30px;
  position: relative;
  background: transparent;
  border: 1px solid transparent;
  transition: border .3s, border-radius .3s;
  border-radius: 0;
  grid-column: 1 / 2;
  &::after,
  &::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 15px;
    background: var(--brown);
    transform: translate(-8px, -5px) rotate(-45deg);
  }

  &::before {
    transform: translate(-8px, 5px) rotate(45deg);
  }
  &:hover{
    border-radius: 5px;
  }
}

.slider-arrow-next {
  grid-column: 3 / 4;
  &::after {

    transform: translate(-8px, -5px) rotate(45deg);
  }

  &::before {
    transform: translate(-8px, 5px) rotate(-45deg);
  }
}