body {
  background: var(--main-bg-color);
  color: var(--main-text);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  min-width: 360px;
  overflow: visible;
  position: relative;

  &._overflow-hidden {
    overflow: hidden;
  }

  &._active-popup {
    overflow: hidden;
  }
}

@media screen and (max-width: 850px) {
  body {
    background: #fff;
  }
}

.main-wrapper {
  position: relative;
}

.main-block {}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (max-width: 850px) {
  .container {
    padding: 0 20px;
  }
}

.large-container {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
}

//custom select
.js-custom-select {
  position: relative;
}

.js-custom-select__button {}

.js-custom-select__btn-text {}

.js-custom-select__options {
  display: none;
  position: absolute;

  &._active {
    display: block;
  }
}

.js-custom-select__option {}

.js-custom-select__input {
  visibility: hidden;
  opacity: 0;
  appearance: none;
  height: 1px;
  width: 1px;
  font-size: 1px;
  line-height: 1px;
  position: absolute;
  z-index: -1;
}


//btns

.main-btn {
  background: var(--orange);
  border-radius: 5px;
  display: block;
  font-family: 'Circe Rounded';
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  border: 1px solid var(--orange);
  transition: color .3s, background .3s, border .3s;

  &:hover {
    background: var(--dark-orange);
    border: 1px solid var(--dark-orange);
  }

  &.main-btn--gray {
    background: #E6E6E6;
    border: 1px solid #E6E6E6;
    color: var(--main-text);

    &:hover {
      background: #fff;
      border: 1px solid #E6E6E6;
    }
  }
}

.icon-btn {}

.icon-btn__icon {}


.menu-btn {
  height: 36px;
  width: 36px;
  padding: 7px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background: transparent;
  border: none;

  &:hover {
    .menu-btn__line {
      &:nth-child(2) {
        width: 100%;
      }
    }
  }

  &._active {
    .menu-btn__line {
      background: var(--orange);

      &:nth-child(1) {
        transform: translate(0, 10px) rotate(45deg);

      }

      &:nth-child(2) {
        width: 0;
      }

      &:nth-child(3) {
        transform: translate(0, -10px) rotate(-45deg);

      }
    }
  }
}

.menu-btn__line {
  height: 2px;
  background: var(--main-text);

  &:nth-child(1) {
    width: 100%;
    transform: translate(0, 0) rotate(0);
    transition: transform .3s;
  }

  &:nth-child(2) {
    width: 25px;
    transition: width .3s;
  }

  &:nth-child(3) {
    width: 100%;
    transform: translate(0, 0) rotate(0);
    transition: transform .3s;

  }
}

@media screen and (max-width: 1100px) {
  .menu-btn {
    padding: 8px 4px;

    &._active {
      .menu-btn__line {
        background: var(--orange);

        &:nth-child(1) {
          transform: translate(0, 9px) rotate(45deg);

        }

        &:nth-child(3) {
          transform: translate(0, -9px) rotate(-45deg);

        }
      }
    }
  }

  .menu-btn__line {
    &:nth-child(2) {
      width: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .menu-btn {
    height: 26px;
    width: 26px;
    padding: 5px 2px;

    &:hover {
      .menu-btn__line {
        &:nth-child(2) {
          width: 20px;
        }
      }
    }

    &._active {
      .menu-btn__line {
        background: var(--orange);

        &:nth-child(1) {
          transform: translate(0, 7px) rotate(45deg);
        }

        &:nth-child(2) {
          width: 0;
        }

        &:nth-child(3) {
          transform: translate(0, -7px) rotate(-45deg);
        }
      }
    }
  }

  .menu-btn__line {
    &:nth-child(1) {
      width: 20px;
    }

    &:nth-child(2) {
      width: 15px;
    }

    &:nth-child(3) {
      width: 20px;
    }
  }
}

//prompt

.main-prompt {
  width: 245px;
  margin: 10px;
  padding: 8px 12px;
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  background: rgba(41, 41, 41, 0.97);
  border-radius: 4px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
  z-index: 2000;

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 6px;
    border-left-width: 6px;
    border-bottom: 6px solid rgba(41, 41, 41, 0.97);
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
  }
}


//custom num input

.num-input {
  height: 36px;
  width: 108px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 5px;
  overflow: hidden;
}

.num-input__area {
  height: 36px;
  width: 36px;
  border: none;
  background: #fff;
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: var(--main-text);
}

.num-input__btn-up,
.num-input__btn-down {
  height: 36px;
  width: 36px;
  background: #fff;
  border: none;
  border-right: 1px solid rgba(128, 128, 128, 0.2);
  position: relative;
  transition: background .3s;
  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--main-text);
    width: 12px;
    height: 1px;
  }

  &::before {
    display: none;
  }

  &:hover{
    background: rgb(200, 200, 200);
  }
}

.num-input__btn-up {
  border-left: 1px solid rgba(128, 128, 128, 0.2);

  &::before {
    display: block;
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

//drop

.drop {
  position: relative;

  &:hover {
    .drop__item {
      opacity: 1;
      visibility: visible;
    }
  }
}

.drop__item {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
  z-index: 2000;
}

//main-section

.main-menu__drop {
  position: static;
}

.main-section {
  .main-menu__drop {
    position: relative;

    &:hover {
      .main-menu__drop-item {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .main-menu__drop-item {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
    z-index: 2000;
  }
}

.main-section__inner {
  column-gap: 16px;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .main-section__inner {
    display: block;
  }
}

.main-section__menu{
  flex: 0 0 auto;
  max-width: 280px;
}

.main-section__block {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

//title

.title {
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: var(--brown);
}

.title-bold {
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: var(--brown);
}

.addit-title {
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--brown);
}

//tabs

.tabs {}

.tabs__btn {}

.tabs__items {
  position: relative;
}

.tabs__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s;

  &._active {
    position: relative;
    opacity: 1;
    visibility: visible;
  }
}

//slider
.slider-arrows {
  display: grid;
  grid-template-columns: 30px 10px 30px;

  &:hover {

    .slider-arrow-prev,
    .slider-arrow-next {
      border: 1px solid rgba(#4E2D2D, .5);
    }
  }
}

.slider-arrow-prev,
.slider-arrow-next {
  height: 30px;
  width: 30px;
  position: relative;
  background: transparent;
  border: 1px solid transparent;
  transition: border .3s, border-radius .3s;
  border-radius: 0;
  grid-column: 1 / 2;

  &::after,
  &::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 15px;
    background: var(--brown);
    transform: translate(-8px, -5px) rotate(-45deg);
  }

  &::before {
    transform: translate(-8px, 5px) rotate(45deg);
  }

  &:hover {
    border-radius: 5px;
  }
}

.slider-arrow-next {
  grid-column: 3 / 4;

  &::after {

    transform: translate(-8px, -5px) rotate(45deg);
  }

  &::before {
    transform: translate(-8px, 5px) rotate(-45deg);
  }
}

//pop-ups===================================================================

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5000;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}

.popup._active {
  opacity: 1;
  visibility: visible;
}

.popup__table {
  display: table;
  width: 100%;
  height: 100vh;
}

.popup__table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 10px;
}

.popup__window {
  display: inline-block;
  width: 100%;
  padding: 50px;
  margin: 50px 0;
  background: #fff;
  border-radius: 8px;
  padding: 20px 30px 16px;
}

@media screen and (max-width: 500px) {
  .popup__window {
    padding: 15px 20px 15px;
  }
}

.popup__header {
  padding: 0 30px 20px;
  position: relative;
  border-bottom: 1px solid rgba(#808080, .1);
  margin-right: -30px;
  margin-left: -30px;
}

.popup__title {
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: var(--brown);
  text-align: left;
  padding-right: 80px;
}

.popup__close {
  position: absolute;
  top: 2px;
  right: 30px;
  height: 20px;
  width: 20px;
  border: 0;
  background: transparent;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 1px;
    width: 18px;
    background: var(--gray);
    transition: background .3s;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover {

    &::after,
    &::before {
      background: var(--orange);
    }
  }
}

//input=========================================================================

.form-input {
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 6px;
  height: 48px;
  padding: 13px 14px 13px;
  color: var(--main-text);
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  &::placeholder {
    font-family: 'Circe Rounded';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #BFBFBF;
  }


  &._error {
    border: 1px solid red;
  }
}

//chexkbox=-=====================================================================

.form-checkbox {
  position: relative;
  padding-left: 30px;
}

.form-checkbox__input {
  opacity: 0;
  height: 1px;
  width: 1px;
  position: absolute;
  appearance: none;

  &:checked+.form-checkbox__box {
    border: 1px solid var(--orange);

    &::after,
    &::before {
      display: block;
    }
  }

  &:focus+.form-checkbox__box {
    border: 1px solid #000;
  }
}

.form-checkbox__box {
  display: block;
  height: 20px;
  width: 20px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  position: absolute;
  top: 2px;
  left: 0;

  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 1px;
    bottom: 8px;
    left: 6px;
    transform: rotate(-45deg);
    background: var(--orange);
    display: none;
  }

  &::before {
    width: 4px;
    left: 4px;
    bottom: 6px;
    transform: rotate(45deg);
  }
}

.form-checkbox__text {
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #686868;
}

//broadcrumbs===============================================================

.broadcrumbs {
  padding: 20px 0;
}

.broadcrumbs__inner {}

.broadcrumbs__list {
  list-style: none;
}

.broadcrumbs__item {
  display: inline-block;
  position: relative;
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: var(--gray);
  margin-right: 20px;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -15px;
    height: 100%;
    transform: translateY(calc(-50% - 1px)) rotate(45deg);
    width: 5px;
    height: 1px;
    background: var(--gray);
  }

  &::before {
    transform: translateY(calc(-50% + 3px)) rotate(-45deg);
  }
  &:last-child{
    &::after,
    &::before{
      display: none;
    }
  }
}

.broadcrumbs__link {
  font-family: 'Circe Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: var(--gray);
  &:hover{
    text-decoration: underline;
  }
}