html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a,
button {
  text-decoration: none;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

label,
input {
  cursor: pointer;
}

dd {
  margin: 0;
}

fieldset{
  padding: 0;
  margin: 0;
  border: none;
}

.swiper-wrapper{
  height: auto;
}

.swiper-slide{
  box-sizing: border-box;
}