:root{
  --main-bg-color: #FFFBED;
  --main-text: #292929;
  --gray: #808080;
  --orange: #FD9339;
  --dark-orange: #db6600;
  --light-orange: #FFF1DB;
  --brown: #4E2D2D;
}


// %{
//   font-family: '', sans-serif;
//   font-weight: 400;
// }